.about-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background: #ffc300;
  box-sizing: border-box;
  position: relative;
}

.about-container .dropdown-menu {
  background-color: #0d9af8;
}

.list-items a:hover {
  background-color: #ffc300;
}

.about-p {
  max-width: 800px;
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
  background-color: #0d9af8;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: absolute;
  margin-bottom: 150px;
}

.about-navbar {
  background-color: #0d9af8;
  font-family: "Pokemon Solid", sans-serif;
}
