.inv {
  position: relative;
  background: linear-gradient(to bottom, #8984a4, #a25c7e);
  min-height: 100vh;
}

.vault {
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.table-container {
  position: relative;
  margin: 0 auto;
  padding: 20px;
}

.searchBar-tableBtn-wrapper {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-left: 20%;
  margin-top: 30px;
}

.table-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.load-all-cards-btn {
  color: #000000;
  font-size: 40px;
}

.add-card-btn {
  font-size: 40px;
  color: #362d5c;
  cursor: pointer;
}
