.card-table-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.table {
  width: 60%;
  border-collapse: collapse;
  margin: 0 auto;
}

.table th,
.table td {
  text-align: center;
  padding: 3px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.table th {
  background-color: #f4f4f4; /* Light background for header cells */
  font-weight: bold; /* Make header text bold */
}

.table td {
  background-color: #fff; /* White background for table data */
}

.actions {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}

.action-icons {
  cursor: pointer;
}
