.card-table-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.table {
  width: 60%;
  border-collapse: collapse;
  margin: 0 auto;
}

.table th,
.table td {
  text-align: center;
  padding: 3px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.table td {
  background-color: #fff;
}

.actions {
  display: flex;
  justify-content: space-evenly;
}

.action-icons {
  cursor: pointer;
  font-size: 20px;
}

.action-icon-edit {
  color: #ffc300;
}

.action-icon-delete {
  color: #d22b2b;
}
